// Animation for route change

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(50px);
  opacity: 0;
}

//Animation for home icons

.opacity-icon-entrance {
  opacity: 0;
  animation: opacityIn 1s forwards;

  &:nth-child(1) {
    animation-delay: 1.5s;
  }

  &:nth-child(2) {
    animation-delay: 2s;
  }

  &:nth-child(3) {
    animation-delay: 2.5s;
  }
}

// Animation for portafolio

@keyframes opacityIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.opacity-entrance {
  opacity: 0;
  animation: opacityIn 1s forwards;
  animation-delay: 800ms;

  &--second {
    animation-delay: 1600ms;
  }
}

// Animation for portafolio:image

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }

  50% {
    box-shadow: theme("boxShadow.none");
    opacity: 1;
    transform: translateY(0);
  }

  to {
    box-shadow: theme("boxShadow.transp");
    opacity: 1;
    transform: translateY(0);
  }
}

.traslate-shadow-entrance {
  box-shadow: none;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: 2s;
}

// Animation for scroll indicator
@keyframes downloadingArrow {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(94px);
  }
}

.down-arrow {
  position: absolute;
  z-index: 5;
  display: none;
  margin-top: theme("margin.10");
  font-size: theme("fontSize.4xl");
  color: theme("colors.white");
  opacity: 0;
  animation: downloadingArrow 2s linear infinite;
  animation-delay: 3s;

  @media (min-width: 1024px) {
    display: block;
  }
}
