.main-traslate-r {
  transition: all 1s ease-in-out;
  transform: translateX(80%);
}

#main:hover .main-traslate-r {
  transform: translateX(0);
}

.main-traslate-l {
  transition: all 1s ease-in-out;
  transform: translateX(150%);
}

#main:hover .main-traslate-l {
  transform: translateX(0);
}
