#parent {
  border-top: 4px solid #4c3648;
  border-bottom: 4px solid #4c3648;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-right: 4px solid #4c3648;
    border-left: 4px solid #4c3648;
    transform: scale(1.05);
  }
}

.parent-scale {
  padding: 0.5rem;
  z-index: 5;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
}
#parent:hover .parent-scale {
  transform: translateY(-20%);
  padding: 4rem;
}

.overlay {
  position: absolute;
  opacity: 0;
  padding-top: theme("padding.36");
  width: theme("width.full");
  height: theme("height.full");
  transition: all 0.1s ease-in-out 0.2s;
  @media (min-width: 1024px) {
    padding-top: theme("padding.40");
  }
}

#parent:hover .overlay {
  opacity: 1;
}
