.modal-card {
  width: 100%;
  overflow: hidden;
  background: theme("backgroundColor.atoom.semiGray");
  border-radius: theme("borderRadius.lg");
  box-shadow: theme("boxShadow.lg");
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-0.5rem);
  }

  @media (min-width: 768px) {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 1024px) {
    width: 100%;
  }
}
