@keyframes leftEntrance {
  from {
    transform: translateX(-150%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes upEntrance {
  from {
    transform: translateY(-150%);
  }

  to {
    transform: translateY(0%);
  }
}

.entrance {
  position: relative;
  transform: translateY(-150%);
  animation: upEntrance 800ms ease forwards;
  animation-delay: 1s;

  @media (min-width: 1024px) {
    transform: translateX(-150%);
    animation: leftEntrance 800ms ease forwards;
    animation-delay: 1s;
  }
}
@keyframes downloadingArrow {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(94px);
  }
}

.down-arrow {
  display: none;
  position: absolute;
  color: theme("colors.atoom.ylw");
  font-size: theme("fontSize.4xl");
  margin-top: theme("margin.10");
  z-index: 5;
  animation: downloadingArrow 3s linear infinite;
  animation-delay: 3s;

  @media (min-width: 1024px) {
    display: block;
  }
}

@keyframes growWrapper {
  from {
    max-height: 0;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    max-height: 600px;
    opacity: 1;
  }
}
.init-wrapper {
  background: theme("backgroundColor.atoom.ylw");
  padding-top: theme("padding.0");
  padding-right: theme("padding.8");
  padding-bottom: theme("padding.8");
  padding-left: theme("padding.8");
  opacity: 0;
  animation: growWrapper 800ms ease forwards;
}

@keyframes showElements {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.init-el {
  opacity: 0;
  animation: showElements 500ms ease forwards;
  animation-delay: 1s;
}
