@keyframes rightEntrance {
  from {
    transform: translateX(150%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes upEntrance {
  from {
    transform: translateY(-150%);
  }

  to {
    transform: translateY(0%);
  }
}

.entrance {
  position: relative;
  transform: translateY(-150%);
  animation: upEntrance 800ms ease forwards;
  animation-delay: 1s;

  @media (min-width: 1024px) {
    transform: translateX(-150%);
    animation: rightEntrance 800ms ease forwards;
    animation-delay: 1s;
  }
}
