.the-header {
  position: fixed;
  z-index: 10;
  display: flex;
  width: theme("width.full");
  align-items: center;

  &__brand {
    width: max-content;
    margin-right: theme("margin.auto");
    margin-left: theme("margin.4");
  }

  &__btn-ghost {
    padding: theme("padding.2");
    font-size: theme("fontSize.lg");
    color: theme("colors.white");
    background-color: transparent;
    border-radius: theme("borderRadius.lg");
    box-shadow: none;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: rgba(226, 232, 240, 0.4);
      box-shadow: -5px 5px 2px 2px rgba(226, 232, 240, 0.2);
    }
  }

  &__btn-solid {
    padding: theme("padding.2");
    font-size: theme("fontSize.lg");
    color: theme("colors.white");
    background-color: transparent;
    border-radius: theme("borderRadius.lg");
    box-shadow: none;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: rgba(47, 47, 47, 0.8);
      box-shadow: -5px 5px 2px 2px rgba(47, 47, 47, 0.3);
    }
  }

  &__menu-dk {
    display: none;
    @media (min-width: 1024px) {
      display: flex;
      align-items: center;
    }
  }

  &__menu-mb {
    display: block;
    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__collapse {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background: theme("colors.atoom.dk");
    transition: transform 0.7s ease-in-out;
    transform: translateX(-100%);
    transform-origin: left;

    &.is-expanded {
      &.the-header__collapse {
        transform: translateX(0);
      }
    }
  }

  &__collapse-item {
    width: max-content;
    font-size: theme("fontSize.lg");
    padding: theme("padding.4");
    color: theme("colors.white");
    background: theme("colors.atoom.salmn");
    border-radius: 5px;
    transform: translateX(-100%);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;

    &:nth-child(1) {
      transition-delay: 0.6s;
    }

    &:nth-child(2) {
      transition-delay: 0.7s;
    }

    &:nth-child(3) {
      transition-delay: 0.8s;
    }

    &:nth-child(4) {
      transition-delay: 0.9s;
    }

    &:nth-child(5) {
      transition-delay: 1s;
    }

    &.is-expanded {
      &.the-header__collapse-item {
        transform: translateX(-2%);
      }
    }
  }
}

#header {
  webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
