// Anchos de pantalla //

$xsm: 360px;
$sm: 640px;
$md: 768px;
$lg: 992px;
$xl: 1280px;
$xxl: 1440px;

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}
