// Cursores

$arrow: url(../images/svg-icons/simple-white.svg);
$click: url(../images/svg-icons/simple-click-white.svg);

html {
  cursor: $arrow, default;
}

a {
  cursor: $click, default;
}

button {
  cursor: $click, default;
}

.contain {
  width: 100%;
  max-width: theme("screens.xl");
  padding-right: theme("padding.8");
  padding-left: theme("padding.8");
  margin-right: auto;
  margin-left: auto;
}

.active-link {
  font-weight: theme("fontWeight.bold");
}

.non-active-link {
  font-weight: theme("fontWeight.thin");
}

.modal-card {
  cursor: $click, default;
}

.justify-items-center {
  justify-items: center;
}
