// Cursores

$arrow: url(../images/svg-icons/arrow.svg);
$click: url(../images/svg-icons/arrow-click.svg);

html {
  cursor: $arrow, default;
}
a {
  cursor: $click, default;
}
button {
  cursor: $click, default;
}

.contain {
  width: 100%;
  max-width: theme("screens.xl");
  margin-right: auto;
  margin-left: auto;
  padding-left: theme("padding.8");
  padding-right: theme("padding.8");
}

.only-dsk {
  display: none;
  @media (min-width: 1024px) {
    display: block;
  }
}
