@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500&display=swap");

html {
  font-family: "Work Sans", sans-serif;
}

p {
  font-weight: theme("fontWeight.light");
}

.slogan {
  font-weight: theme("fontWeight.thin");
}
