@tailwind utilities;

//Gradientes

.ylw-gp-grad {
  background-image: linear-gradient(
    to left top,
    #e4c85e,
    #e89d62,
    #d37c70,
    #ab6579,
    #795672
  );
}

.bl-gp-grad {
  background-image: linear-gradient(
    to left bottom,
    #323b6e,
    #413864,
    #493659,
    #4c3650,
    #4c3648
  );
}

.ylw-bl-grad {
  background-image: linear-gradient(
    to left top,
    #e4c85e,
    #e98d5e,
    #c86072,
    #87497d,
    #323b6e
  );
}

.sln-gp-grad {
  background-image: linear-gradient(
    to left top,
    #4c3648,
    #744460,
    #a15072,
    #d05c7d,
    #ff6b81
  );
}

.bl-sln-grad {
  background-image: linear-gradient(
    to left top,
    #ff6b81,
    #d3598d,
    #9f4f8f,
    #684684,
    #323b6e
  );
}
